Source: sdr-shell 
Section: hamradio 
Priority: extra 
Maintainer: Dr. Gerolf Ziegenhain <g@ziegenhain.com>
Standards-Version: 3.9.2
Build-Depends: libc6 (>= 2.3.6-6~), libgcc1 (>= 1:4.1.1), libhamlib2 (>= 1.2.11), libqt4-network (>= 4:4.5.3), libqtcore4 (>= 4:4.6.1), libqtgui4 (>= 4:4.5.3), libstdc++6 (>= 4.1.1), qt4-qmake, debhelper (>= 7.0.50~)
Vcs-Git: git://github.com/8cH9azbsFifZ/sdr-shell.git
Vcs-browser: https://github.com/8cH9azbsFifZ/sdr-shell
Homepage: http://code.google.com/p/sdr-shell/

Package: sdr-shell
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: usbsoftrock
Description: Software Defined Radio GUI for DttSP
 Whithin this package a Qt GUI controller for the sdr-core (DttSP) is provided.
