Source: sdr-shell 
Section: hamradio 
Priority: extra 
Maintainer: Dr. Gerolf Ziegenhain <g@ziegenhain.com>
Standards-Version: 3.9.1
Build-Depends: ${build:Depends}
Vcs-Git: git://github.com/8cH9azbsFifZ/sdr-shell.git
Vcs-browser: https://github.com/8cH9azbsFifZ/sdr-shell
Homepage: http://code.google.com/p/sdr-shell/

Package: sdr-shell
Architecture: any
Depends: ${misc:Depends}, ${shlib:Depends}
Recommends: usbsoftrock
Description: A Software Defined Radio
 This is a Qt GUI controller for the sdr-core (DttSP),
